{% extends "network/layout.html" %}

{% block body %}

{% if user_page %}
    
    <div class="page_title">
        <h2 class="title">{{ title|capfirst }}</h2>
        
        {% if is_profile_page %}
            <form method="POST" action="{% url 'toggle_follow' username=viewed_profile.username %}">
                {% csrf_token %}
                {% if request.user != profile %}
                <button type="submit" class="follow-btn">
                    {% if followed_account %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
                {% endif %}
                <p class="followers-count">{{ count_followers }} followers</p>
            </form>
        {% endif %}
    </div>

{% else %}
    
    <h2 class="title">All Posts</h2>

    <div class="form-container">
        <form method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <input type="text" name="title" placeholder="New post" required>
            </div>
            <div>
                <textarea name="description" placeholder="Type your description" required></textarea>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Publish</button>
            </div>
        </form>
    </div>

{% endif %}

<ul class="post-list">
    {% for post in page_obj %}
        <li class="post-item">
            <div class="post-head">
                <span class="post-title">{{ post.title }}</span>
                <span class="post-time">{{ post.post_time }}</span>
                <a class="post-user" href="{% url 'user_profile' post.user.username %}">
                    <span> By {{ post.user }} </span>
                </a>
                <span>{{ post.count_likes }} Likes </span>
                
                <form method="POST" action="{% url 'toggle_like' post.id %}">
                    {% csrf_token %}
                    
                    <button type="submit" class="like-btn">
                        {% if post.id in like_items %}
                            <img class="like" src="{{ MEDIA_URL }}full_heart.png" alt="full_heart" width="20">
                            <p class="text-overlay">Unlike</p>
                        {% else %}
                            <img class="like" src="{{ MEDIA_URL }}empty_heart.png" alt="empty_heart" width="20">
                            <p class="text-overlay">Like</p>
                        {% endif %}
                    </button>
                </form>

                {% if request.user == post.user %}
                   <!-- Show Edit button and the form -->

                    <div class="d-flex justify-content-aroud">
                        
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal_edit_post_{{ post.id }}">Edit</button>
                    </div>

                    <div class="modal fade" id="modal_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_edit_post_1_label" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Edit post</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <textarea rows="5" id="textarea_{{ post.id }}" class="form-control" name="description">{{ post.description }}</textarea>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" onclick="submitHandler('{{ post.id }}')">Save changes</button>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endif%}
                    
            </div>
            
            <div class="post-description">{{ post.description|linebreaksbr }}</div>
        </li>
    {% endfor %}

    <!-- Pagination Controls -->
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary">Previous</a>
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            <a href="?page=1" class="btn btn-secondary">First</a>            
        {% endif %}       

        {% if page_obj.has_next %}
            
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary">Last</a>
            
        {% endif %}
    </div>
</ul>


{% endblock %}
