*{
    box-sizing: border-box 
}
html, body {
    margin: 0;
    padding: 0;
    background-color: var( --darker-bg-color) ;
    overflow-x: hidden;

    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    min-height: 100vh;
}

:root {
    /* header color */
    --primary-header-color: #f6ead4;
    --secondary-header-color: #2e2b26;
    --header-text-color: #a2a595;

    /* side color */
    --background-side-color: #665D52;
    --background-side-secondary-color: #a2a595;

    /* background color */
    --background-color: #b4a284;
    --guide-text-color:#48423a;
    --darker-bg-color: #2E2924;

    /* text color */
    --text-color: #fff9ed;

    /* span color */
    --travel-color: #442818;
    --important-color:#d3370b;
    --quete-color:#1d07c5;
    --succes-color:#279736;
  }

.header, :visited, :link{
    font-size: 2rem;
    text-transform:uppercase;
    font-weight: bold;
    color:var(--secondary-header-color);
    text-decoration: none;
}
.header{
    padding: 0.75rem;
    width: 100vw;

    background-color: var(--primary-header-color);
    border-bottom: 2px solid var(--secondary-header-color);

    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}
.footer{
    padding: 0.75rem;
    width: 100vw;

    background-color: var(--primary-header-color);
    border-top: 2px solid var(--secondary-header-color);

    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

.h-text{
    padding-top: 0.6rem;
}

#main-doc {
    display: flex;
    width: 100%;
    padding-top: 40px;
}

#navbar {
    width: 200px;
    background-color: var(--background-side-color);
    border-right: 2px solid var(--secondary-header-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-container {
    display: flex; /* Optional: Center within navbar */
    justify-content: center; /* Centers the header */
    padding: 2rem 0 0 0;
}

#navbar header {
    font-size: 2em;

    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-color);

    margin: 0;
    padding: 0.5rem 1rem;

    background-color: var(--background-side-secondary-color);
    border-radius: 1rem;

    display: inline-block;
}

.step{
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--text-color);
}

.nav-link {
    font-size: 1.4rem;
    text-transform: uppercase;
    color:var(--text-color);

    padding: 10px;
    border-radius: 4px;

    display: block;
    position: relative;
    right:0.5rem;
}

.main-content {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.main-section {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--background-side-color);

    margin-bottom: 10px;
}

#step1{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin: 0 0 2rem 0;
}

.left, .right {
    margin : 2rem 0 0 2rem;
    flex: 1; 
    padding: 2rem; 

    font-size: 1.5rem;
    font-weight: 1000;

    background-color: var(--primary-header-color);
    border: 2px solid var(--background-side-color);
    border-radius: 50px;
    max-width: 300px;
}

.subtitle{
    display: block;

    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: var(--primary-header-color);

    margin:2rem 0 1rem 0;
}

.color {
    margin: -5rem 0 0 -1rem;  

    list-style-position: inside;  /* Keep the bullets inside the text */
    text-align: left;
}

.color li{
    white-space: pre; /* Preserves whitespace */
}

#journaliere{
    margin-bottom: 3rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
    margin: 3rem 1rem 0 1rem;
    border: 2px solid var(--background-side-color);
    background-color: var(--primary-header-color);
    
}
thead th{
    font-size: 1.5rem;
    border: 2px solid var(--background-side-color);
}

tbody td, thead th {
    width: 100vw;
}

tr.data td {
    font-size: 1.2rem;

    border: 2px solid var(--background-side-color);
    vertical-align: center;
    text-align: center;
    padding: 0.75rem 0;
}
.description td{
    font-size: 1.3rem;
    padding: 1rem 0;
    font-style: italic;
    font-weight: 400;
    vertical-align: center;
    text-align: center;
}

.quete{
    font-size: 1.3rem;
    color:var(--quete-color);
}

.important{
    font-size: 1.3rem;
    color:var(--important-color);
}
.travel{
    color:var(--travel-color);
}
.succes{
    color:var(--succes-color);
}