.title {
    margin-left: 10px;
    padding: 10px;
}

/* Styling for the form container */
.form-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    max-width: 100%;
    background-color: white;
    margin: 20px;
}

/* Styling for the post list */
.post-list {
    list-style-type: none;
    padding: 0;
}

/* Styling for individual posts */
.post-item {
    display: grid;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    max-width: 100%;
    background-color: white;
    margin: 20px;
}

/* Additional styling for post content */
.post-head{
    display: flex;
    gap:10px;
    align-items: center;
    flex-wrap: wrap;
}

.post-title {
    font-weight: bold;

}

.post-description {
    color: gray;
}

.post-time {
    font-size: 0.9rem;
    color: #555;
}

.post-user {
    font-size: 0.9rem;
    color: #555;
}

.text-overlay {
    position: absolute;
    font-size: 12px;
    left: 30px; /* Position it to the right of the heart icon */
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap; /* Prevent text from wrapping */
    pointer-events: none; /* Make sure it doesn't interfere with clicks */
}

.like-btn {
    position: relative;
    border: none;
    background: transparent;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 30px; /* Set a specific height */
    width: 30px; /* Set a specific width */
}

.like-btn:hover .text-overlay {
    opacity: 1;
}

.like-btn:focus {
    outline: none;
}


.follow-btn {
    margin-top: 15px;
    padding: 5px 10px; /* Adjust the button size */
    background-color: #007bff; /* Example color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.follow-btn:hover {
    background-color: #0056b3; /* Darker blue for hover effect */
}
.page_title {
    display: flex;
    align-items: center;  /* Aligns elements vertically */
    gap: 10px;  /* Adds space between the items */
}
.followers-count {
    margin: 0;
    font-size: 16px;
    color: gray;
}
textarea {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 100%;  
    height: 80px;  
    padding: 10px;  
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 20px auto;
    text-align: center;
}
input {
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
}

