{% extends "auctions/layout.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'auctions/styles.css' %}">

{% block body %}
    
    <div class="title">
        <h2>{{ page.title }}</h2>
       

        <div class="image-container">
            {% if user.is_authenticated %}
                <!-- The image is now wrapped in a form to act as a button -->
                <form method="POST" action="{% url 'toggle_watchlist' page.id %}">
                    {% csrf_token %}
                    <button type="submit" style="border: none; background: transparent; padding: 0;">
                        {% if page.id in watchlist_items %}
                            <img class="watchlist" src="{{ MEDIA_URL }}full_star.png" alt="watchlist_star" width="40">
                            <p class="text-overlay">Already in your watch list</p>
                        {% else %}
                            <img class="watchlist" src="{{ MEDIA_URL }}empty_star.png" alt="watchlist_star" width="40">
                            <p class="text-overlay">Add to your watch list</p>
                        {% endif %}
                    </button>
                </form>
            {% endif %}
        </div>
    
        
    </div>
    <div>
        {% if page.category != None %}
            <p> Category :{{ page.category}} </p>
        {% endif %}
    </div>
    <p>seller : <a href="{% url 'user_profile' page.user %}"> {{ page.user }}</a></p>
    <div>
    {% if page.image_url %}
        <img src="{{ page.image_url }}" alt="{{ page.title }}" width="400">
    {% endif %}
    </div>

    <div>
        {{ page.description }}
    </div>
    
    <div>

        <form method="POST" action="{% url 'bid' page.id %}">
            {% csrf_token %}
            <label for="price">Price: {{ page.price }} $</label>
            {% if closed == False %}
            <div>
                <label for="amount">
                    <input type="number" name="amount" step="0.01" min="0.01" placeholder="0.00$" required> 
                    <button type="submit">Bid</button>
                </label>
            </div>
            {%else%}
                <p style="color: red;">This auction is closed.</p>
            {% endif %}
        </form>

        {% if message_bid %}
        <div class="alert alert-warning">{{ message_bid }}</div>
        {% endif %}

    </div>
    
    {% if user == page.user %}
        <div>
            <form method="POST" action="{% url 'close' page.id %}">
                {% csrf_token %}
                <div>
                    <button type="submit">Close Auction</button>
                </div>
            </form>
        </div>
        
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
    {% endif %}

{% endblock %}