{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watch list</h2>
    
    <ul>
        {% for listing in listings %}
            <li>
                <div class="title">
                    <a href="{% url 'listing' listing.id %}">
                        <h3>{{ listing.title }}</h3>
                    </a>
            
                    <div class="image-container">
                    {% if user.is_authenticated %}
                        <img class="watchlist" src="{{ MEDIA_URL }}full_star.png" alt="watchlist_star" width="30">
                        <p class="text-overlay">Add to your Watch list</p>
                    {% endif %}
                    </div>
                </div>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" width="200">
                {% endif %}

                <p>{{ listing.description }}</p>
                <p>Starting price: ${{ listing.price }}</p>
            
            </li>
        {% endfor %}
    </ul>

{% endblock %}