{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watch list</h2>
    
    <ul>
        {% for listing in listings %}
            <ul>
                <div class="title">
                    <a href="{% url 'listing' listing.id %}">
                        <h3>{{ listing.title }}</h3>
                    </a>
                    <div class="image-container">
                        <!-- The image is now wrapped in a form to act as a button -->
                        <form method="POST" action="{% url 'toggle_watchlist' listing.id %}">
                            {% csrf_token %}
                            
                            <button type="submit" style="border: none; background: transparent; padding: 0;">
                             <!-- Show different text based on whether the item is in the wishlist -->
                             
                                <img class="watchlist" src="{{ MEDIA_URL }}full_star.png" alt="watchlist_star" width="40">
                                <p class="text-overlay">Remove from Watchlist</p>
                             
                            </button>

                        </form>

                    </div>
                </div>
                </div>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" width="200">
                {% endif %}
                {% if listing.category != None %}
                     <p> Category :{{ listing.category}} </p>
                {% endif %}
                <p>{{ listing.description }}</p>
                <p>Current price: ${{ listing.price }}</p>
                {% if listing.closed %}
                    <p style="color: red;">This auction is closed.</p>
                {% endif %}
            
            </ul>
        {% endfor %}
    </ul>

{% endblock %}