textarea {
    min-height: 400px;
}

#emails-view {
    display: flex;
    flex-direction: column;  
    gap: 10px; 
    padding: 10px
}

.email-entry {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
    gap: 10px;  
    border: 2px solid #ccc; 
    padding: 10px;  
    border-radius: 5px;  
    background-color: #f9f9f9;  
}

.email-entry p{
    margin: 0;
    word-wrap: break-word;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
    max-width: 100%;  
    text-overflow: ellipsis;
}

.email-entry:hover {
    background-color: #eaeaea; 
}