textarea {
    min-height: 400px;
}

:root{

    --hover_color : #383838;
}
#emails-view {
    display: flex;
    flex-direction: column;  
    gap: 10px; 
    padding: 10px
}

.email-entry {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 5% 5%;  
    gap: 10px;  
    border: 2px solid #ccc; 
    padding: 10px;  
    border-radius: 5px;  
    max-width: 100%;
    background-color: grey;  
}

.email-entry p{
    margin: 0;
    word-wrap: break-word;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
    max-width: 100%;  
    text-overflow: ellipsis;
}

.email-entry.read {
    background-color: white; /* For read emails */
  }

  .email-entry.read:hover {
    background-color: var(--hover_color); 
}

.email-entry:hover {
    background-color:var(--hover_color); 
}

.icon1, .icon2 {
    width: 30px;  /* Set the width to 20px */
    height: 30px; /* Set the height to 20px */
}